@model CQRSDesignPatternDemo.Entity.Player
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayNameFor(model => model.Name)</h1>
<hr />
<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShirtNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShirtNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appearances)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appearances)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goals)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goals)
        </dd>
      
    </dl>

   
<div>
    @if (Model!=null && Model.Id != 0)
   {
       @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
   }
    
    <a asp-controller="Player" asp-action="GetPlayersList" class="btn btn-secondary">Back to List</a>
</div>